--
-- PostgreSQL database dump
--

\restrict zl3fSN9OYJ2m4amierSdasxChcQwMAQAke7qaVtCdiX7xJO2bmZK1oerFIAsRyf

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: company_site_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_site_tab (
    company character varying(80) NOT NULL,
    contract character varying(20) NOT NULL,
    description character varying(140),
    country character varying(80),
    create_date date,
    rowversion date,
    rowkey character varying(200),
    rowstate character varying(80)
);


ALTER TABLE public.company_site_tab OWNER TO postgres;

--
-- Name: company_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company_tab (
    company character varying(80) NOT NULL,
    name character varying(400) NOT NULL,
    creation_date date NOT NULL,
    association_no character varying(200),
    default_language character varying(8) NOT NULL,
    logotype character varying(400),
    corporate_form character varying(32),
    country character varying(8) NOT NULL,
    created_by character varying(120) NOT NULL,
    localization_country character varying(80) NOT NULL,
    rowversion numeric(22,0) NOT NULL,
    rowkey character varying(200) NOT NULL
);


ALTER TABLE public.company_tab OWNER TO postgres;

--
-- Name: currency_rate_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.currency_rate_tab (
    company character varying(80) NOT NULL,
    currency_type character varying(40) NOT NULL,
    currency_code character varying(12) NOT NULL,
    valid_from date NOT NULL,
    currency_rate numeric(22,6),
    ref_currency_code character varying(12),
    rowversion timestamp without time zone,
    rowkey character varying(200)
);


ALTER TABLE public.currency_rate_tab OWNER TO postgres;

--
-- Name: customer_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_info (
    customer_id character varying(80) NOT NULL,
    name character varying(400) NOT NULL,
    association_no character varying(200),
    corporate_form character varying(32),
    country character varying(8) DEFAULT 'TR'::character varying NOT NULL,
    party_type character varying(80),
    category character varying(80),
    check_limit character varying(20),
    limit_control_type character varying(80),
    default_language character varying(8) DEFAULT 'tr'::character varying NOT NULL,
    created_by character varying(80) NOT NULL,
    changed_by character varying(80),
    creation_date date NOT NULL,
    identifier_reference character varying(400),
    rowversion numeric(22,0) DEFAULT 1.0 NOT NULL,
    rowkey character varying(200) NOT NULL,
    rowtype character varying(120)
);


ALTER TABLE public.customer_info OWNER TO postgres;

--
-- Name: customer_order_line_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_order_line_tab (
    company character varying(80) NOT NULL,
    order_no character varying(48) NOT NULL,
    contract character varying(20) NOT NULL,
    line_no character varying(16) NOT NULL,
    rel_no character varying(16) NOT NULL,
    catalog_no character varying(100) NOT NULL,
    part_no character varying(100) NOT NULL,
    customer_part_no character varying(180),
    catalog_desc character varying(800),
    catalog_type character varying(4000),
    buy_qty_due numeric(22,2),
    customer_part_buy_qty numeric(22,2),
    base_sale_unit_price numeric(22,2),
    base_unit_price_incl_tax numeric(22,2),
    sale_unit_price numeric(22,2),
    unit_price_incl_tax numeric(22,2),
    sales_unit_meas character varying(40),
    price_unit_meas character varying(40),
    customer_part_unit_meas character varying(40),
    currency_rate numeric(22,2),
    discount numeric(22,2),
    additional_discount numeric(22,2),
    price_conv_factor numeric(22,2),
    customer_part_conv_factor numeric(22,2),
    date_entered date,
    planned_delivery_date date,
    planned_due_date date,
    promised_delivery_date date,
    real_ship_date date,
    wanted_delivery_date date,
    planned_ship_date date,
    first_actual_ship_date date,
    target_date date,
    line_item_no numeric(22,0),
    order_code character varying(12),
    delivery_type character varying(80),
    tax_code character varying(80),
    note_text character varying(4000),
    customer_no character varying(80),
    forward_agent_id character varying(80),
    ship_via_code character varying(12),
    delivery_terms character varying(20),
    part_ownership character varying(4000),
    activity_seq numeric(22,0),
    project_id character varying(40),
    customer_po_line_no character varying(16),
    free_of_charge character varying(4000),
    rowstate character varying(4000),
    rowversion numeric(22,0) DEFAULT 1 NOT NULL,
    rowkey character varying(200) NOT NULL
);


ALTER TABLE public.customer_order_line_tab OWNER TO postgres;

--
-- Name: customer_order_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_order_tab (
    company character varying(80) NOT NULL,
    order_no character varying(48) NOT NULL,
    contract character varying(20) NOT NULL,
    customer_no character varying(80) NOT NULL,
    customer_po_no character varying(200),
    date_entered date NOT NULL,
    wanted_delivery_date date,
    pay_term_base_date date,
    currency_code character varying(12),
    pay_term_id character varying(80),
    delivery_terms character varying(20),
    ship_via_code character varying(12),
    delivery_country_code character varying(4000),
    order_id character varying(12),
    authorize_code character varying(80),
    salesman_code character varying(80),
    bill_addr_no character varying(200),
    ship_addr_no character varying(200),
    internal_po_no character varying(48),
    note_text character varying(4000),
    rowstate character varying(4000),
    created_by character varying(80) NOT NULL,
    rowversion numeric(22,0) DEFAULT 1 NOT NULL,
    rowkey character varying(200) NOT NULL,
    paid_amount numeric(25,2) DEFAULT 0.00
);


ALTER TABLE public.customer_order_tab OWNER TO postgres;

--
-- Name: inventory_part; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_part (
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    accounting_group character varying(20),
    country_of_origin character varying(12),
    estimated_material_cost numeric(22,2),
    part_product_code character varying(20),
    part_product_family character varying(20),
    part_status character varying(4),
    planner_buyer character varying(80),
    prime_commodity character varying(20),
    second_commodity character varying(20),
    unit_meas character varying(40),
    sales_unit_meas character varying(40),
    description character varying(800),
    list_price numeric(22,2),
    list_price_incl_tax numeric(22,2),
    price_conv_factor numeric(22,2),
    tax_code character varying(80),
    tax_class_id character varying(80),
    sales_type character varying(4000),
    sales_type_db character varying(80),
    storage_width_requirement numeric(22,2),
    storage_height_requirement numeric(22,2),
    storage_depth_requirement numeric(22,2),
    storage_volume_requirement numeric(22,2),
    storage_weight_requirement numeric(22,2),
    min_storage_temperature numeric(22,2),
    max_storage_temperature numeric(22,2),
    min_storage_humidity numeric(22,2),
    max_storage_humidity numeric(22,2),
    standard_putaway_qty numeric(22,2),
    standard_pack_size numeric(22,2),
    create_date date,
    expected_leadtime numeric(22,0),
    rowversion numeric(22,0) DEFAULT 1.0 NOT NULL,
    rowkey character varying(200) NOT NULL,
    type_code_db character varying(50),
    type_code character varying(50)
);


ALTER TABLE public.inventory_part OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    module character varying(50) NOT NULL,
    page character varying(50) NOT NULL,
    action character varying(50) NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: prod_structure_head_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prod_structure_head_tab (
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    eng_chg_level character varying(20) NOT NULL,
    bom_type_db character varying(20) NOT NULL,
    note_text text,
    eff_phase_in_date date,
    eff_phase_out_date date,
    create_date date NOT NULL,
    rowstate character varying(4000),
    created_by character varying(80) NOT NULL,
    rowversion numeric(22,0) DEFAULT 1 NOT NULL,
    rowkey character varying(200) NOT NULL
);


ALTER TABLE public.prod_structure_head_tab OWNER TO postgres;

--
-- Name: prod_structure_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prod_structure_tab (
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    eng_chg_level character varying(20) NOT NULL,
    bom_type_db character varying(20) NOT NULL,
    alternative_no character varying(20) NOT NULL,
    line_item_no numeric(22,0) NOT NULL,
    line_sequence numeric(22,0) NOT NULL,
    operation_no numeric(22,0) NOT NULL,
    note_text text,
    source character varying(80),
    create_date date NOT NULL,
    last_activity_date date,
    component_part character varying(100),
    rowstate character varying(4000),
    created_by character varying(80) NOT NULL,
    rowversion numeric(22,0) DEFAULT 1 NOT NULL,
    rowkey character varying(200) NOT NULL
);


ALTER TABLE public.prod_structure_tab OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    "Code" character varying(64) NOT NULL,
    "Name" character varying(256) NOT NULL,
    "Price" numeric(18,2) NOT NULL,
    "StockQty" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: routing_head_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routing_head_tab (
    company character varying(80) NOT NULL,
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    routing_revision character varying(16) NOT NULL,
    bom_type character varying(80) NOT NULL,
    phase_in_date date,
    phase_out_date date,
    note_id numeric(22,0),
    note_text character varying(4000),
    create_date date,
    rowversion date,
    rowkey character varying(200)
);


ALTER TABLE public.routing_head_tab OWNER TO postgres;

--
-- Name: routing_operation_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routing_operation_tab (
    company character varying(80) NOT NULL,
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    routing_revision character varying(16) NOT NULL,
    bom_type character varying(80) NOT NULL,
    operation_no numeric(22,0) NOT NULL,
    operation_description character varying(140),
    work_center_no character varying(20),
    mach_run_factor numeric(22,0),
    mach_setup_time numeric(22,0),
    labor_class_no character varying(40),
    setup_labor_class_no character varying(40),
    crew_size numeric(22,0),
    setup_crew_size numeric(22,0),
    run_time_code character varying(80),
    note_text character varying(4000),
    rowversion date,
    rowkey character varying(200)
);


ALTER TABLE public.routing_operation_tab OWNER TO postgres;

--
-- Name: shop_material_alloc_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_material_alloc_tab (
    order_no character varying(48) NOT NULL,
    line_item_no numeric(22,0) NOT NULL,
    part_no character varying(100) NOT NULL,
    contract character varying(20) NOT NULL,
    operation_no numeric(22,0),
    create_date date,
    qty_assigned numeric(22,0),
    qty_issued numeric(22,0),
    qty_per_assembly numeric(22,0),
    qty_required numeric(22,0),
    note_text character varying(4000),
    activity_seq numeric(22,0),
    project_id character varying(40),
    catch_qty_issued numeric(22,0),
    qty_scrapped_component numeric(22,0),
    rowversion numeric(22,0),
    rowkey character varying(200),
    rowstate character varying(80)
);


ALTER TABLE public.shop_material_alloc_tab OWNER TO postgres;

--
-- Name: shop_ord_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_ord_tab (
    order_no character varying(48) NOT NULL,
    order_code character varying(12) NOT NULL,
    contract character varying(20) NOT NULL,
    part_no character varying(100) NOT NULL,
    revised_start_date date,
    revised_due_date date,
    need_date date,
    complete_date date,
    revised_qty_due numeric(22,0),
    qty_complete numeric(22,0),
    operation_scrapped numeric(22,0),
    note_text character varying(4000),
    customer_order_no character varying(48),
    customer_line_no character varying(16),
    customer_rel_no character varying(16),
    customer_line_item_no numeric(22,0),
    customer_no character varying(80),
    project_id character varying(40),
    activity_seq numeric(22,0),
    owning_customer_no character varying(80),
    created_by character varying(120),
    rowversion numeric(22,0),
    rowkey character varying(200),
    rowstate character varying(80),
    planner_id character varying(100) DEFAULT NULL::character varying
);


ALTER TABLE public.shop_ord_tab OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash text NOT NULL,
    role_id integer,
    status boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: work_center_tab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_center_tab (
    company character varying(80),
    contract character varying(20),
    work_center_no character varying(20),
    description character varying(140),
    work_center_code character varying(80),
    production_line character varying(48),
    department_no character varying(20),
    note_text text,
    create_date date,
    rowversion date,
    rowkey character varying(200),
    rowstate character varying(80)
);


ALTER TABLE public.work_center_tab OWNER TO postgres;

--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20251228123108_InitialCreate	10.0.1
20260108192228_AddCompanyTab	10.0.1
20260108194304_FixCompanyDate	10.0.1
20260111151633_AddCustomerInfoTable	10.0.1
20260111172139_CreateCustomerInfoTable	10.0.1
20241227000000_InitialCreate	8.0.0
20241228000000_AddUsers	8.0.0
20260115192003_RecreateCompanyTab	8.0.0
20260115201604_AddInventoryPartTable	10.0.1
\.


--
-- Data for Name: company_site_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_site_tab (company, contract, description, country, create_date, rowversion, rowkey, rowstate) FROM stdin;
TST	01	Ankara Tesisi	TR	\N	\N	TST_01_1769948973319	Active
\.


--
-- Data for Name: company_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company_tab (company, name, creation_date, association_no, default_language, logotype, corporate_form, country, created_by, localization_country, rowversion, rowkey) FROM stdin;
TST	Test Firma	2026-01-11	123456	tr	logo.png	Anonim	TR	admin	T├╝rkiye	4	bd32da0a-59f8-4145-8485-9033e997df79
\.


--
-- Data for Name: currency_rate_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.currency_rate_tab (company, currency_type, currency_code, valid_from, currency_rate, ref_currency_code, rowversion, rowkey) FROM stdin;
\.


--
-- Data for Name: customer_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_order_line_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_order_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_part; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permissions (id, module, page, action) FROM stdin;
\.


--
-- Data for Name: prod_structure_head_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prod_structure_head_tab (contract, part_no, eng_chg_level, bom_type_db, note_text, eff_phase_in_date, eff_phase_out_date, create_date, rowstate, created_by, rowversion, rowkey) FROM stdin;
01	AP-001	A	STANDARD	\N	2026-02-01	2026-02-07	2026-02-01	ACTIVE	System	2	8d2e17b1-c848-4681-8a79-193488d16daa
01	PART06002	A	STANDARD	\N	2020-01-01	2050-02-01	2026-02-06	ACTIVE	System	1	fbf0f54e-ee18-4fda-bd33-76fb2b644eb4
\.


--
-- Data for Name: prod_structure_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, "Code", "Name", "Price", "StockQty", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
1	1
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
1	admin
\.


--
-- Data for Name: routing_head_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.routing_head_tab (company, contract, part_no, routing_revision, bom_type, phase_in_date, phase_out_date, note_id, note_text, create_date, rowversion, rowkey) FROM stdin;
TST	01	AP-001	A	STANDARD	2026-02-01	2026-02-11	\N	d	2026-02-01	2026-02-01	c9843360-a5c0-47c5-acf5-daa085e54022
TST	01	PART06002	A	STANDARD	2020-01-01	2050-01-01	\N	\N	2026-02-06	2026-02-06	c8efc837-9a8c-4c41-b6d6-46f9acdc3c7e
\.


--
-- Data for Name: routing_operation_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_material_alloc_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_ord_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password_hash, role_id, status) FROM stdin;
1	admin	$2a$06$srF3e0A2XlstDHs1UV7fv.eLokrDackLXYWM2HDQ6Z4rgIhKIC05y	1	t
\.


--
-- Data for Name: work_center_tab; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_center_tab (company, contract, work_center_no, description, work_center_code, production_line, department_no, note_text, create_date, rowversion, rowkey, rowstate) FROM stdin;
TST	01	CNC001	CNC Tezgah─▒ 1	├£retim	Cnc1	Cnc1		2026-02-01	2026-02-01	e52c9a35-8e74-4fe7-bdad-bcfc79b04f91	Active
TST	01	BASKI	BASKI	BASKI	BASKI	BASKI	BASKI	2026-02-06	2026-02-06	77001876-a90f-4b9e-898b-02d3ba540f82	Active
\.


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: company_tab PK_company_tab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_tab
    ADD CONSTRAINT "PK_company_tab" PRIMARY KEY (company);


--
-- Name: customer_info PK_customer_info; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_info
    ADD CONSTRAINT "PK_customer_info" PRIMARY KEY (customer_id);


--
-- Name: inventory_part PK_inventory_part; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_part
    ADD CONSTRAINT "PK_inventory_part" PRIMARY KEY (contract, part_no);


--
-- Name: permissions PK_permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_permissions" PRIMARY KEY (id);


--
-- Name: products PK_products; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_products" PRIMARY KEY (id);


--
-- Name: role_permissions PK_role_permissions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_role_permissions" PRIMARY KEY (role_id, permission_id);


--
-- Name: roles PK_roles; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_roles" PRIMARY KEY (id);


--
-- Name: users PK_users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_users" PRIMARY KEY (id);


--
-- Name: company_site_tab company_contract_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_site_tab
    ADD CONSTRAINT company_contract_unique UNIQUE (company, contract);


--
-- Name: company_site_tab contract_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company_site_tab
    ADD CONSTRAINT contract_unique UNIQUE (contract);


--
-- Name: customer_order_line_tab customer_order_line_tab_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_order_line_tab
    ADD CONSTRAINT customer_order_line_tab_pkey PRIMARY KEY (company, order_no, contract, line_no, rel_no);


--
-- Name: customer_order_tab customer_order_tab_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_order_tab
    ADD CONSTRAINT customer_order_tab_pkey PRIMARY KEY (company, order_no, contract);


--
-- Name: currency_rate_tab pk_currency_rate; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.currency_rate_tab
    ADD CONSTRAINT pk_currency_rate PRIMARY KEY (company, currency_code, valid_from, currency_type);


--
-- Name: prod_structure_tab pk_prod_structure; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prod_structure_tab
    ADD CONSTRAINT pk_prod_structure PRIMARY KEY (contract, part_no, eng_chg_level, bom_type_db, alternative_no, line_item_no, line_sequence, operation_no);


--
-- Name: prod_structure_head_tab pk_prod_structure_head; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prod_structure_head_tab
    ADD CONSTRAINT pk_prod_structure_head PRIMARY KEY (contract, part_no, eng_chg_level, bom_type_db);


--
-- Name: shop_material_alloc_tab pk_shop_material_alloc_tab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_material_alloc_tab
    ADD CONSTRAINT pk_shop_material_alloc_tab PRIMARY KEY (contract, order_no, line_item_no, part_no);


--
-- Name: shop_ord_tab pk_shop_ord_tab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_ord_tab
    ADD CONSTRAINT pk_shop_ord_tab PRIMARY KEY (contract, order_no, order_code, part_no);


--
-- Name: routing_head_tab routing_head_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing_head_tab
    ADD CONSTRAINT routing_head_unique UNIQUE (company, contract, part_no, routing_revision, bom_type);


--
-- Name: routing_operation_tab routing_operation_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routing_operation_tab
    ADD CONSTRAINT routing_operation_unique UNIQUE (company, contract, part_no, bom_type, routing_revision, operation_no);


--
-- Name: work_center_tab uq_work_center; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_center_tab
    ADD CONSTRAINT uq_work_center UNIQUE (company, contract, work_center_no);


--
-- Name: IX_products_Code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_products_Code" ON public.products USING btree ("Code");


--
-- Name: IX_users_role_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_users_role_id" ON public.users USING btree (role_id);


--
-- Name: IX_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_users_username" ON public.users USING btree (username);


--
-- Name: idx_currency_rate_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_currency_rate_code ON public.currency_rate_tab USING btree (currency_code);


--
-- Name: idx_currency_rate_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_currency_rate_company ON public.currency_rate_tab USING btree (company);


--
-- Name: idx_currency_rate_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_currency_rate_date ON public.currency_rate_tab USING btree (valid_from);


--
-- Name: idx_currency_rate_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_currency_rate_type ON public.currency_rate_tab USING btree (currency_type);


--
-- Name: idx_customer_order_line_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_order_line_order ON public.customer_order_line_tab USING btree (company, order_no, contract);


--
-- Name: users FK_users_roles_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_users_roles_role_id" FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: customer_order_line_tab customer_order_line_tab_company_order_no_contract_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_order_line_tab
    ADD CONSTRAINT customer_order_line_tab_company_order_no_contract_fkey FOREIGN KEY (company, order_no, contract) REFERENCES public.customer_order_tab(company, order_no, contract) ON DELETE CASCADE;


--
-- Name: prod_structure_tab fk_prod_structure_head; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prod_structure_tab
    ADD CONSTRAINT fk_prod_structure_head FOREIGN KEY (contract, part_no, eng_chg_level, bom_type_db) REFERENCES public.prod_structure_head_tab(contract, part_no, eng_chg_level, bom_type_db) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict zl3fSN9OYJ2m4amierSdasxChcQwMAQAke7qaVtCdiX7xJO2bmZK1oerFIAsRyf

